.top-bar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #A61C1C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
    z-index: 400;
}

.top-bar .brand {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-bar .brand img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}

.top-bar .brand h1{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    flex: 0 0 auto;
    color: #fff;
}

.user-icon{
    color:#fff ;
    width: 35px;
    height: 35px;
    padding-right: 10px;
}



.user-container button{
    background-color: rgba(255, 0, 0, 0);
    border-color: #a61c1c00;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-left: 0px;
}

.user-container button:active,
.user-container button:hover{
    box-shadow: 0 4px 12px rgba(42, 37, 37, 0.2);
    background-color: rgba(71, 74, 74, 0.169);
}

.user-menu{
  position: absolute;
  right: 50px;
  top: 45px;
  background: #F4F4F4;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  animation: fadeIn 0.2s ease;
}

.user-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}



.user-menu ul li a {
    color: #2E2E2E;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background 0.5s ease, color 0.2s ease;
    position: relative;
    overflow: hidden;
}

.user-menu li:hover {
    background-color: #e1dddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(51, 43, 43, 0.1);

}
