.mainContainer{
    position: fixed;
    display: flex;
    top: 12vh;
    display: flex;
    flex-direction: row;
    left: 5vh;
    gap: 6vh;
    font-family: 'Spline Sans', sans-serif;

}

.buttonsContainer{
    width: 110vh;
    height: 82vh;
}

.buttonsContainer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttonsContainer nav ul li {
  padding-bottom: 2vh;
}

.buttonsContainer nav ul li a {
    background-color: #78787836;
    color: #1e293b;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    gap: 12px; 
    border-radius: 8px;
    transition: background 0.2s ease, color 0.2s ease;
}

.buttonsContainer nav ul li a.active,
.buttonsContainer nav ul li a:hover {
  background: #cfd0d1;
  color: #eb2525;
}

.icon{
    background-color: #f1eaea;
    padding: 6px;          
    border-radius: 8px;   
    transition: transform 0.2s ease;
}


.notificationContainer{
    background-color: #78787836;
    width: 70vh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 12px
    
}



.notificationContainer nav {
    margin-top: auto;
}

.notificationContainer nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.notificationContainer nav ul li {
    padding-bottom: 2vh;
}

.notificationContainer nav ul li a {
    background-color: rgb(189, 194, 194);
    text-decoration: none;
    border-radius: 8px;
    
}

.notifications-link {
  background-color: #e0e7ef;
  color: #1e293b;
  text-decoration: none;
  border-radius: 8px;
  padding: 14px 212px;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Spline Sans', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.notificationContainer nav ul li a.active,
.notificationContainer nav ul li a:hover {
  background: #cfd0d1;
  color: #eb2525;

}