.popUp-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popUp-container {
  background: #f2eae7;
  border-radius: 16px;
  padding: 30px 40px;
  width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.2s ease-in-out;
}

.popUp-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.popUp-subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.popUp-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.popUp-form label {
  font-size: 13px;
  font-weight: 500;
}

.popUp-form select,
.popUp-form textarea {
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  font-family: inherit;
  background: white;
  box-shadow: inset 0 0 0 1px #d4d4d4;
}

.popUp-form textarea {
  resize: none;
}

/* Botones */
.popUp-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.cancel-button {
  background: #a00000;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  cursor: pointer;
}

.send-button {
  background: #000;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  cursor: pointer;
}

.request-button {
  background: #861b1b;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px ;
  margin-left: 950px;
  margin-top: 150px;
}
.alertRequest {
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: #2e7d32;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  padding: 14px 24px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  opacity: 0;
  transform: translateY(-15px);
  animation: alertSlide 0.4s ease forwards, alertFadeOut 0.4s ease 2.6s forwards;
  z-index: 1000;
}

/* Alert*/
@keyframes alertSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Alert*/
@keyframes alertFadeOut {
  to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

/* Animación del pOP UP*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
