.popUp-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popUp-container {
    background: #f2eae7;
    border-radius: 16px;
    padding: 30px 40px;
    width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.2s ease-in-out;
}

.popUp-title {
    font-family: 'Spline Sans', sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

.popUp-subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
    font-family: 'Spline Sans', sans-serif;

}

.popUp-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: 'Spline Sans', sans-serif;

}




/* Botones */
.popUp-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.cancel-button {
    background: #a00000;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

.send-button {
    background: #000;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

.schedule-button {
    background: #861b1b;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0px;
    margin-left: 0;
    position: relative;
}

.popUp-input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    background: #f0f0f0;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

/* Animación del pOP UP*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}