.notifications {
    display: flex;
    align-items: center;
    background-color: #E0CFBC;
    width: 90%;
    border-radius: 10px;
}

.notifications h1 {
    font-family: 'Spline Sans', sans-serif;
    padding-left: 20px;
}

.icon-pending {
  color: #facc15; /* amarillo */
}

.icon-approved {
  color: #22c55e; /* verde */
}

.icon-rejected {
  color: #ef4444; /* rojo */
}

.text {
    padding-left: 20px;
    line-height: 16px;
}

.wIcon {
    padding-left: 20px;
    width: 50px;
    height: 50px;
}

