.notifications {
    display: flex;
    align-items: center;
    background-color: #E0CFBC;
    width: 100%;
    border-radius: 10px;
}

.notifications h1 {
    font-family: 'Spline Sans', sans-serif;
    padding-left: 20px;
}

.icon-pending {
  color: #facc15; 
  padding-left: 20px;
  width: 40px;
  height: 40px;
}

.icon-approved {
  color: #22c55e; 
  padding-left: 20px;
  width: 40px;
  height: 40px;
}

.icon-rejected {
  color: #ef4444; 
  padding-left: 20px;
  width: 40px;
  height: 40px;
}

.icon-inprogress{
  padding-left: 20px;
  width: 40px;
  height: 40px;
}

.text {
    padding-left: 20px;
    line-height: 16px;
}



